<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TggChooseCityDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8123E74C1C586B7F00E595AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8123E7651C586B7F00E595AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8123E7701C586B7F00E595AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
